<h1></h1>
<form class="" action='/form_clock_angle'>
  <div class="form-group">
    <label for="clock_angle">Hour/Min</label>
    <input name="clock_angle" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Show me Degree!</button>
</form>
